<br><br>
<div class="container-fluid well span6 col-lg-3" ng-init="showUser()">
	<div class="row-fluid">
		<div class="span2" ng-if="user.id == params.id">
			<img src="https://secure.gravatar.com/avatar/de9b11d0f9c0569ba917393ed5e5b3ab?s=140&r=g&d=mm" class="img-circle">
		</div>
		<div class="span2" ng-if="user.id != params.id">
			<img src="https://secure.gravatar.com/avatar/de9b11d0f9c0569ba917393ed5e5b3ab?s=140&r=g&d=mm" class="img-circle">
		</div>

		<div class="span8">
			<h3>{{postData.firstname | capitalize}} {{postData.lastname | capitalize}}</h3>
			<h6>{{postData.email}}</h6>
			<h6 ng-if="postData.address !== undefined">{{postData.address}}</h6>
			<h6 ng-if="postData.address === ''"><em>Please fill your address</em></h6>
			<h6 ng-if="postData.age !== undefined">{{postData.age}} years old</h6>
			<h6 ng-if="postData.age === undefined"><em>Please fill your date of birth</em></h6>

			<div>
				<div>
					<div>
						<h6>
							<a data-toggle="collapse" data-target="#collapse1">More... </a>
						</h6>
					</div>
				</div>
				<div id="collapse1" class="panel-collapse collapse">
					<h6 ng-if="postData.gender !== undefined">Gender : {{postData.gender}}</h6>
					<h6 ng-if="postData.job !== undefined">Job : {{postData.job}}</h6>
					<h6 ng-if="postData.studies !== undefined">Studies :{{postData.studies}}</h6>
					<h6 ng-if="postData.religion !== undefined">Religion :{{postData.religion}}</h6>
				</div>
			</div>
		</div>

		<div class="span2" ng-if="user.id == params.id">
			<div class="btn-group">
				<a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="">
					<span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a ui-sref="user_edit({id:user.id})"><span class="glyphicon glyphicon-edit"></span> Modify</a></li>
					<li><a ng-click="deleteUser(user.id)"><span <span class="glyphicon glyphicon-trash"></span> Delete</a></li>
				</ul>
			</div>
		</div>
		<div class="span2" ng-if="user.id != params.id" ng-controller="FriendController" ng-init="check(postData, params.id)">
			<div class="btn-group" ng-if="friendStatus === 'nope'">
				<a class="btn btn-info" ng-click="request(postData, params.id)">
					<span class="glyphicon glyphicon-user"></span><span>&nbsp;&nbsp;Add as friend</span>
				</a>
			</div>
			<div class="btn-group" ng-if="friendStatus === 'confirmed'">
				<a class="btn disabled" href="#">
					<span class="glyphicon glyphicon-user"></span><span>&nbsp;&nbsp;{{ friendName | capitalize }} is your friend</span>
				</a>
			</div>
			<div class="btn-group" ng-if="friendStatus === 'unconfirmed'">
				<a class="btn disabled" href="#">
					<span class="glyphicon glyphicon-user"></span><span>&nbsp;&nbsp;Friend request pending</span>
				</a>
			</div>
		</div>
		<!-- </div> Zone profile -->
	</div>
</div>

<div class="col-lg-9" ng-controller="PostController">
	<div ng-if="user.id == params.id" class="panel panel-default">
		<div class="panel-heading"><h4>What's new ?</h4></div>
		<div class="panel-body">
			<div class="input-group col-lg-12">
				<textarea rows="4" class="form-control" placeholder="type your message" ng-model="postData.content" name="content"></textarea>
			</div>
		</div>
		<div class="panel-footer">
			<div class="col-lg-10"></div>
			<span class="input-group-btn button" id="post-button">
				<button type="button" class="btn btn-primary" ng-click="createPost(postData)">Post</button>
			</span>
		</div>
	</div>

	<div ng-init="showPost()">
		<div id="post" ng-repeat="result in contentProvider" class="panel panel-default">
			<div class="panel-heading">Posted on {{ result._fields[1].properties.created_at | date:'MM/dd/yyyy @ H:mm'}} by <a ui-sref="profile({id:result._fields[2].identity.low})">{{ result._fields[2].properties.firstname | capitalize}} {{ result._fields[2].properties.lastname | capitalize}}</a>
				<span ng-controller="LikeController" ng-init="getLikesPost(postData, result._fields[0].identity.low)" class="badgeAlignP badge pull-right">{{ countP }}</span>
				<span ng-controller="LikeController" ng-init="checkLikePost(postData, result._fields[0].identity.low)">
					<a ng-show="likedP" class="btn heartAlign glyphicon glyphicon-heart pull-right" ng-click="unlikePost(postData, result._fields[0].identity.low)"></a>
					<a ng-show="!likedP" class="btn heartAlign glyphicon glyphicon-heart-empty pull-right" ng-click="likePost(postData, result._fields[0].identity.low)"></a>
				</span>
			</div>
			<div class="panel-body">{{ result._fields[0].properties.content }}</div>
			<div class="panel-footer" ng-controller="CommentController" ng-init="getComment(result._fields[0].identity.low)">
				<div ng-repeat="comment in commentProvider">
					<a ui-sref="profile({id:comment._fields[3].identity.low})">{{ comment._fields[3].properties.firstname | capitalize}} {{ comment._fields[3].properties.lastname | capitalize}}</a> : {{ comment._fields[1].properties.content }}
					<span ng-controller="LikeController" ng-init="getLikesComment(postData, comment._fields[1].identity.low)" class="badgeAlignC badge pull-right">{{ countC }}</span>
					<span ng-controller="LikeController" ng-init="checkLikeComment(postData, comment._fields[1].identity.low)">
						<a ng-show="likedC" class="btn glyphicon glyphicon-heart pull-right" ng-click="unlikeComment(postData, comment._fields[1].identity.low)"></a>
						<a ng-show="!likedC" class="btn glyphicon glyphicon-heart-empty pull-right" ng-click="likeComment(postData, comment._fields[1].identity.low)"></a>
					</span>
					<p>
						{{ comment._fields[2].properties.created_at | date: 'MM/dd/yyyy @ H:mm' }}
					</p>
				</div>
				<div class="panel-footer">
					<div class="input-group" ng-controller="CommentController">
						<input type="text" class="form-control" placeholder="type your comment" ng-model="postData.content" name="content">
						<span class="input-group-btn" id="post-button">
							<button type="button" class="btn btn-primary" ng-click="createComment(postData, user.id, result._fields[0].identity.low)">Comment</button>
						</span>
					</div>
				</div>

			</div>
		</div>
	</div>
