<h3>Register</h3>
<div class="input-group" ng-hide="registered">
	<input type="text" class="form-control" placeholder="First name" ng-model="postData.firstname"><br><br>
	<input type="text" class="form-control" placeholder="Last name" ng-model="postData.lastname"><br><br>
	<input type="email" class="form-control" placeholder="Email" ng-model="postData.email"><br><br>
	<input type="password" class="form-control" placeholder="Password" ng-model="postData.password"><br><br><br>
	<button type="submit" class="btn btn-secondary" ng-click="register(postData)">Register</button>
</span>
</div>
<p ng-show="registered">You are registered with this email address : {{ postData.email }}</p>
